<!DOCTYPE html>
<html lang="pl">
    {% if question is none %}
        {% set question_operation = 'Add' %}
    {% else %}
        {% set question_operation = 'Edit' %}
    {% endif %}
<head>

	<meta charset="utf-8">
	<title>ASk-Mate</title>
	<meta name="description" content="Blog ">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/css/fontello.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
</head>

<body>
	<main>
		   
	<header>
	
		<h1 class="logo"><a href="{{ url_for('route_list') }}">ASK-Mate</a> </h1>
		
		<nav id="topnav">
            <div>
                <h3 class="creators">Twórcy:</h3>
            </div>
			<ul class="menu">
				<li>Piotr Skowron</li>
				<li>Rafał Gontarski</li>
				<li>Tymoteusz Sztrumpf</li>
				<li>Karolina Mazurczak</li>
                <li>Tomasz Kraczek</li>
                <li>Mikołaj Siedlecki</li>
			</ul>
			
		</nav>
	
	</header>
	<main>
		<article>
			<div class="break_comment"></div>
				<div class="entries">
					<form enctype = "multipart/form-data" action="{{ url_for('add_question',question_id=question_id) if question==None else url_for('edit_question',question_id=question_id) }}" method="post">
						<div class="profile_question">
							<form action=""> </form>
							<div class="titletxt">
								<textarea id="title"  name="title" cols="10" rows = "1"  placeholder="title">{{question['title']}}</textarea>
							</div>
							<div class="messagetxt">
								<textarea id="message" name="message" cols="30" rows = "6" placeholder="Message" >{{question['message']}}</textarea>
							</div>
						
							<div>
								<p class="img"><input type = "file" name = "filename" ></p>
							</div>
							<div class="button">
								<button type="submit"><i class="icon-direction"></i>{% if question==None %}Add question{%else%}Edit Question{%endif%}</button>
							</div>
						</div>
					</form>
		</article>
	</main>

</body>
<footer>

	<div class="info">
		Wszelkie prawa zastrzeżone &copy; 2022 Dziękuję za wizytę!
	</div>

</footer>
</html>
