<!DOCTYPE html>
<html lang="pl">
<head>

	<meta charset="utf-8">
	<title>ASk-Mate</title>
	<meta name="description" content="Blog ">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/css/fontello.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
</head>

<body>
    
	<header>
        <div class="login_and_registration">
        {% if session == {}%}
            <a href="{{ url_for('Sign_up') }}"><button>Sign up</button></a>
            <a href="{{ url_for('login') }}"><button>login</button></a>
        
        {%endif%}
        {% if session != {}%}
            <a href="{{ url_for('users_list') }}"><button>Users list</button></a>
            <a href="{{ url_for('profile') }}"><button>Profile</button></a>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        {%endif%}
        </div>
        <h1 class="logo"><a href="{{ url_for('route_list') }}">ASK-Mate</a> </h1>

		<nav id="topnav">
            <div>
                <h3 class="creators">Twórcy</h3>
            </div>
			<ul class="menu">
				<li>Piotr Skowron</li>
				<li>Rafał Gontarski</li>
				<li>Tymoteusz Sztrumpf</li>
				<li>Karolina Mazurczak</li>
                <li>Tomasz Kraczek</li>
                <li>Mikołaj Siedlecki</li>
			</ul>
			
		</nav>
	
	</header>
	
	<main>
	
		<article>
			<section id="newest">
				
				<div class="entries">
				
					<header class="wstep">
						<div >
							<h1>Wpisy</h1>
						</div>

                

						
						<div class="add_question">             
							<a href="{{ url_for('add_question') }}"><button type="submit" >Add Question</button></a>
						</div>
						<div class="sort">
							<div class="order_by">
								<form action="{{ url_for('question_list') }}" method="get">
								<label for="order_by">Order by:</label>
								<select name="order_by">
									{% for h in headers %}
										<option value="{{ h }}">{{ h.capitalize() }}</option>
									{% endfor %}
								</select>
                                </form>
							</div>
							
							<div class="order_d">
								<label for="order_direction">Order direction:</label>
								<select name="order_direction">
									<option value="asc">Ascending</option>
									<option value="desc">Descending</option>
								</select>
						
							</div>
								
							<div class="sort_button">
								<button type="submit">Sort</button>
							</div>
								
							</form>	
						</div>

						<div class="search_question">
                            <form action="{{ url_for('search') }}" method="post">
                                <label for="search">Search question:</label>
                                <input type="text" id="search" name="search">
                                <button type="submit" name="search"><i class="icon-search"></i></button>
                            </form>
                        </div>

					</header>	
                    {% for post in posts %}
                    <a href="{{ url_for('display_question', question_id=post['id']) }}">

                        <div class="entry">
                            <h6 class="time">{{post['submission_time']}}</h6>
                            <div class="question_user">{{post['user']}}:</div>
                            <div class="title"><h2>{{post['title']}}</h2></div>
                            <div class="entrytxt"><p>{{post['message']}} </p></div>
                            <div class="entryimg">
                                {% if post['image'] != None  %}
                                    <img src="{{url_for('static',filename='photo/'+post['image'])}}" >
                                {%endif%}
                            </div>
                            <footer>
                                <div class="view"><i class="demo-icon icon-eye"> </i> {{post['view_number']}}</div>
                                <div class="vote"><i class="demo-icon icon-thumbs-up-alt"> </i>{{post['vote_number']}}</div>
                                <div class="add_comment">
                                        <form action="{{ url_for('add_comment_to_question', question_id=post['id']) }}">
                                            <button>Add comment</button>
                                        </form>
                                </div>
                            </footer>
                        </div>
                        </a>
                        {% if question_id == post['id'] %}
                                        <div class="comment_add">
                                            <form enctype = "multipart/form-data" action="{{ url_for('add_comment_to_question', question_id=question_id) }}" method="post">
                                                <div class="add_comment1">
                                                    <div class="answer_message">
                                                        <textarea id="message" name="message" cols="40" rows = "8" placeholder="Message" ></textarea>
                                                    </div>

                                                    <div class="button_comment">
                                                        <button type="submit"><i class="icon-direction"></i></button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    {% endif %}
                                    <div class="coment_name"><h6>Comments:</h6></div>
                                    <div class="break_comment"></div>
                                    {% for comment in comments %}
                                    {% if comment.question_id == post.id %}
                                        <div class="comment">
                                            <div class="comment_heading">
                                                <div class="comment_user">{{comment.user}}:</div>
                                                <div class="comment_times"><h6>Edited {{ comment.edited_count }} times</h6></div>
                                            </div>
                                            <div class="coment_main">
                                                <div class="comment_text">
                                                    {{comment.message}}
                                                </div>
                                                {%if session['id'] == comment.user_id%}
                                                <div class="comment_buttons">
                                                    <a href="{{ url_for('edit_comment', comment_id=comment.id) }}" method="GET"><button
                                                        type="submit" value="Submit"><i class="icon-pencil"></i></button></a>
                                                    
                                                        <a href="{{ url_for('del_comment', comment_id=comment.id) }}"><button
                                                        type="submit" value="Submit"><i class="icon-trash-empty"></i></button></a>
                                                </div>
                                                {%endif%}
                                            </div>
                                        </div>
                                    {%endif%}
                                    {%endfor%}

                    {%endfor%}   					
			</section>
		</article>
        <div class="break">
        {% if list_button == 1 %}
        <div class="list_all_questions">
            <a href="{{ url_for('question_list') }}"><button type="submit">List all questions</button></a>
        </div>
        {% endif %}
        </div>
    
        
        </div>
	</main>
	




    </form>

    <footer>

		<div class="info">
			Wszelkie prawa zastrzeżone &copy; 2022 Dziękuję za wizytę!
		</div>
	
	</footer>
</body>
</html>